p{
    color: rgb(12, 14, 14);
    font-size: 30px ;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    }
    #crugger{
        color:orange;
        text-align: center;
        /* border: 2px solid black; */
        /* text-size-adjust: larger ; */
        /* background-color: rgba(10, 7, 1, 0.137); */
        font-size: 60px;
    }#contact{
        list-style: none;
        text-align:center;
        font-size: 25px;
    }
    #nilmar{
        color: black;
        font-size: 40px;
    }
    img {
        margin-right: 1px;
        border: 1px solid yellowgreen;
    }
     li{
        list-style:none;
        font-size: 30px;
        font-family: 'Ubuntu', sans-serif;
    }
    #dan{
        font-size: 30px;
    }
    strong{
        color: rgb(7, 144, 207);
    }
    a{
        color: rgb(255, 174, 0);
    }
    h5{
        font-size:30px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .form p{
        text-align: center;
    }
    #About{
        /* background-image: url('https://image.shutterstock.com/image-photo/long-red-carpet-between-rope-260nw-637277644.jpg(46 kB)
    https://image.shutterstock.com/image-photo/long-red-carpet-between-rope-260nw-637277644.jpg
    '); */
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        opacity: 0.9;
    }