body{
    background-image: url("https://bit.ly/2RVYIqU");
}
#par{
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 50px;
}
#profile{
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    text-align: center;
    color: white;
    text-decoration: underline;
}
table{
    font-family: 'Lobster Two', cursive;
    color: white;
}
strong{
    color: black;
}
button{
    text-align: center;
    color:white;
    background-color: blue;
}