table{
<<<<<<< HEAD
  border: 1px solid black;
  border-collapse:collapse;
  width: 100%;
  height: 50%;
  text-align: left;
}
th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #000;
  color: black;
}
tr:hover {background-color:palevioletred;
}
tr:nth-child(even) {background-color:gray;
}
th{
  font-size: large;
  color:black;
}
#list h3{
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:palevioletred;
}
#price h4{
  font-size:x-large;
  text-align: center;
  text-align: center;
  font-weight: bold;
  color:palevioletred;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  /* border-radius: 2px; */
  border: 1px solid rgb(247, 230, 230);
  /* padding:20px; */
  margin-right:70px;
  margin-bottom: 20px;
}
img:hover {
  box-shadow:palevioletred;
}
#main h2{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: palevioletred;
    font-family: Arial, Helvetica, sans-serif;
}
.one{
    margin-bottom: 5px;
}
table, th, td{
  border: 1px solid black;
}
.dropdown a{
  text-decoration: none;
  color: black;
  margin: 5px;
  font-size: large;
  display: block;
}
.dropdown a:hover{
color: palevioletred;
}
body{
background-image: url(https://bit.ly/38LIAPs);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
overflow-y: visible;
overflow-x: hidden;
}
.image{
margin-left: 0px;
}
=======
    border: 1px solid black;
    border-collapse:collapse;
    width: 100%;
    height: 50%;
    text-align: left;
}
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #000;
    color: black;
  }
  tr:hover {background-color:palevioletred;
  }
  tr:nth-child(even) {background-color:gray;
}
th{
    font-size: large;
    color:black;
}
#list h3{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:palevioletred;
}
#price h4{
    font-size:x-large;
    text-align: center;
    text-align: center;
    font-weight: bold;
    color:palevioletred;
    font-family: Arial, Helvetica, sans-serif;
}
img {
    /* border-radius: 2px; */
    border: 1px solid rgb(247, 230, 230);
    /* padding:20px; */
    margin-right:70px;
    margin-bottom: 20px;
  }
  img:hover {
    box-shadow:palevioletred;
  }
  h2{
      text-align: center;
      font-size: 50px;
      font-weight: bolder;
      color: palevioletred;
      font-family: Arial, Helvetica, sans-serif;
  }
  .one{
      margin-bottom: 5px;
  }
  table, th, td{
    border: 1px solid black;
  }
  a{
    text-decoration: none;
    color: black;
    margin: 5px;
    font-size: large;
    display: block;
  }
a:hover{
  color: palevioletred;
}
body{
  background-image: url(https://bit.ly/38LIAPs);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: visible;
  overflow-x: hidden;
}
.image{
  margin-left: 0px;
}
















>>>>>>> 56fb8d34ec680a85994221e235e3b8320ea88974
